*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

ul{
    list-style: none;
}

a{
    text-decoration: none  !important;
    color: black  !important;
}


/*CSS del index*/


body{
    background-color: lightgray !important;
    font-family: none  !important;
}

/* header */

.cabecera{

    background-color: rgb(35, 141, 71);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
}

.menu{

    height: 10vh  !important;
    display: flex  !important;
    flex-direction: row  !important;
    width: 100%  !important;
    justify-content: space-evenly  !important;
    margin-left: 260px  !important;
    margin-right: 12px  !important;
    align-items:center  !important;
    flex-wrap: wrap;
    
    

   
}

.item{

    
    font-family: 'Kanit', sans-serif  !important;
    justify-content: flex-end  !important;
    flex-direction: row;
    flex-wrap: wrap;
    
    
   
}

.logo{

    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 50vh;
    margin-left: 20px;
    animation: flip 4s linear infinite;
    
}

@keyframes flip{
     50%{ transform: rotateX(180deg); }
}

.empresa{

    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Anton', sans-serif;
}

/*  Fin header */

/*  Video publicitario */

.contenedorvideo{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}


video{
    

    width: 500px;
    height: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenedordescripcion{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-shrink: 1;
    
}

.descripcion{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(129, 127, 127);
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    
    
}

/*  Fin video publicitario */


/* Cards y boton con Boostrap*/

.containercartas{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.containerboton16{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.btn-primary{

    background-color: rgb(35, 141, 71) !important;
    font-family: 'Poppins', sans-serif !important;
}


.card-luqui{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* FIN Cards y boton con Boostrap*/


/*  GRID Seccion productos */ 


/*
.contenedorgridproductos{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.25fr 1fr 0.2fr;
    

    grid-template-areas:
     "productos . ."
     ". boton ."
     "imagen1 imagen2 imagen3"
     "etiqueta1 etiqueta2 etiqueta3";

     
}

.itemetiquetaproducto{

    grid-area: productos;
    height: 10vw;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}


.itembotonconoce{

    
    justify-self: center;
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: rgb(35, 141, 71);
    font-family: 'Poppins', sans-serif;
    
}


.itemimagen1{

    grid-area: imagen1;
    justify-self: center;
}

.itemimagen2{

    grid-area: imagen2;
    justify-self: center;
}

.itemimagen3{

    grid-area: imagen3;
    justify-self: center;

}


.itemetiqueta1{

    grid-area: etiqueta1;
    justify-self: center;
    font-family: 'Poppins', sans-serif;
}

.itemetiqueta2{

    grid-area: etiqueta2;
    justify-self: center;
    font-family: 'Poppins', sans-serif;
}

.itemetiqueta3{

    grid-area: etiqueta3;
    justify-self: center;
    font-family: 'Poppins', sans-serif;
}




.imagenproductogrid{

    height: 300px;
    width: 370px;
    
}

/*


/*  Fin GRID seccion productos */
 
/*  Mapa */

.textoubi{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 70px;
    font-family: 'Poppins', sans-serif;


}

.mapa{

    width: 500px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mapaubi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgb(129, 127, 127);
}

/* Fin  mapa */


/* Footer */

footer{

    background-color: rgb(35, 141, 71);
    width: auto;
    
}


.etiquetacontenedor{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% !important;
    font-family: 'Poppins', sans-serif !important;
    margin-top: 50px;
    flex-wrap: wrap;
    
    
    
}


.etiquetasredes{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.etiquetasredes{

    display: flex;
    flex-direction: row;
    width: 50%;
}




.redesycontactocontenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    flex-wrap: wrap;

    
    


}

.redescontenedor{

    display: flex;
    flex-direction: row;
    width: 500px;
    margin-left: 5px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;


}


.contactocontenedor{

    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-evenly;
    margin-right: 100px;
    height: 250px;
    flex-wrap: wrap;



}




.iconoig{

    width: 100px;
    height: 50px;


}

.iconofb {

    width: 100px;
    height: 50px;

}

.contenedordatoscontacto{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    width: 500px;
    flex-wrap: wrap;

    
   
}



.contenedorwsp{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 95px;


}


.contenedorgmail{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.iconogmail, .iconowsp{
 height: 50px;

}


/* Footer (No me salió del todo poder ubicar los elementos como en el Whimsical) */



/*Fin CSS del index*/

/* =================================================================================================*/

/* CSS de Quienes Somos?*/

/* Seccion de informacion*/




/* Quienes somos?*/

.contenedortitulo{

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    background-color: rgb(126, 122, 122);
    flex-wrap: wrap;
     
}

.tituloqs{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    font-family: 'Poppins', sans-serif;
}

.contenedorparrafo{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: large;
    justify-content:center;
    flex-wrap: wrap;


}

.parrafo{

    line-height: 25px;
    font-family: 'Poppins', sans-serif;


    /* Fin quienes somos?*/

    /* Principios y stafff*/

}
 
.contenedorprincipiosystaff{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    
    
}

.etiquetaprincipios{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    border: inherit 15px black;
    margin-top: 20px !important;
    font-family: 'Poppins', sans-serif !important;
    background-color: rgb(126, 122, 122);
    margin-bottom: 20px;
    

}

    

.contenedorgeneral{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    
}


/*
.imagenstaff{
    display: block;
    margin-left: 420px;
    margin-top: 25px;
    width: 400px;
    height: 250px;
}

*/
.principios{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}

.itemsbanderas{

    margin-top: 40px;
    margin-left: 70px;
    font-family: 'Poppins', sans-serif !important;
}

.container{

    margin-bottom: 30px;
}
    /* fin principios y stafff*/

/* Fin Seccion de informacion*/


/* Fin CSS de Quienes Somos?*/


/* =================================================================================================*/
   
    
/* CSS de conocé mas (productos)*/

/* Descripcion de los productos*/

#productos{

    display: flex;
    flex-direction: row;
    height: 10vw;
    justify-content:flex-start;
    margin-left: 20px;
    align-items: center;
    font-family: 'Poppins', sans-serif;}

.contenedordetalles{

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imagenproducto{

    height: 300px;
    width: 370px;


}

.contenedorproductos{

    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; }



.descripcionproductos{
    display: flex;
    flex-direction: row;
    width: 370px;
    height: 100px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    flex-wrap: nowrap;
    
    
}




.contenedortablas{

    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 80px;
    
   
}


.tablasproductos{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33,33%;
    border-right: solid 1px black;
    font-family: 'Poppins', sans-serif;
    
    
}

.titulocolumna{
    display: flex;
    flex-direction: row;
    background-color: rgb(126, 122, 122);
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    
}


/* Fin descripcion de los productos*/

/* FIN CSS de conocé mas (productos)*/


/* =================================================================================================*/

/* CSS de compañias*/


/* Quienes nos acompañan?*/

/* Inicio GRID*/


.contenedorgrid{

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 150px;
    
    
}

.griditem{

    
    justify-self: center;
    width: 400px;
    height: auto;
}

.imagenseguros{

    width: 100%;
    height: 200px;
    border-radius: 15px;
    transition: all 2s;
}


.imagenseguros:hover{

    transform: scale(1.5);
}

.gridtexto{

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100px;
    

}

.textocompañia{

    justify-self: center;
    align-self: center;
    font-family: 'Poppins', sans-serif;
}


/* FIN Inicio GRID*/

/* QUERY*/

@media only screen and (max-width: 480px) {


    .contenedorgrid{

        display: grid;
    
        grid-template-columns: 1fr;
        grid-column-gap: 15px; }


}



/* QUERY*/






.imagencias {

    width: 350px;
    height: 200px;
    border-radius: 15px;
    transition: all 2s;
}

.imagencias:hover{

    transform: scale(1.5);
}



.contenedorcolumna{

    display: flex;
    flex-direction: row;
    width: 100%;
}



/* FIN CSS de compañias*/


/* FIN Quienes nos acompañan?*/

/* =================================================================================================*/

/* CSS de cotizá ahora*/

.aviso24{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100px;
    flex-wrap: wrap;
}


.avisofotos{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100px;
    margin-left: 50px;
    margin-bottom: 130px;
}

.camposform{

    height: 20px;
    width: 200px;
    margin-left: 50px;
    margin-bottom: 10px;

}

/* FIN CSS de cotizá ahora*/

  /* =================================================================================================*/  

  /*  CSS de siniestro */

.formindica{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.indicacionsiniestro{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100px;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-bottom: 130px;
}

    /*Bootstrap*/

    
 #emailHelp{

    font-family: 'Poppins', sans-serif !important;
 }

 .form-label{

    font-family: 'Poppins', sans-serif !important;
 }
    


    /* FIN CSS de siniestro */

   















    
