@charset "UTF-8";
/*Variables*/
/* header */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: black !important;
}

body {
  background-color: lightgray !important;
  font-family: none !important;
}

/* 1er anidamiento*/
.cabecera {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(35, 141, 71);
}
.cabecera .logo {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 50vh;
  margin-left: 20px;
  animation: flip 4s linear infinite;
}
@keyframes flip {
  50% {
    transform: rotateX(180deg);
  }
}
.cabecera .logo .empresa {
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Anton", sans-serif;
}

/* Fin 1er anidamiento*/
/*  2do anidamiento*/
.cabecera div nav .menu {
  height: 10vh !important;
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  justify-content: space-evenly !important;
  margin-left: 260px !important;
  margin-right: 12px !important;
  align-items: center !important;
  flex-wrap: wrap;
}
.cabecera div nav .menu .item {
  font-family: "Kanit", sans-serif !important;
  justify-content: flex-end !important;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Fin 2dp anidamiento*/
/* CSS de cotizá ahora*/
.aviso24 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 100px;
  flex-wrap: wrap;
}

.avisofotos {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 100px;
  margin-left: 50px;
  margin-bottom: 130px;
}

.camposform {
  height: 20px;
  width: 200px;
  margin-left: 50px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: rgb(35, 141, 71);
  width: auto;
}

.etiquetacontenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100% !important;
  font-family: "Poppins", sans-serif !important;
  margin-top: 50px;
  flex-wrap: wrap;
}

.etiquetasredes {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.etiquetasredes {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.redesycontactocontenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
  flex-wrap: wrap;
}

.redescontenedor {
  display: flex;
  flex-direction: row;
  width: 500px;
  margin-left: 5px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
}

.contactocontenedor {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  margin-right: 100px;
  height: 250px;
  flex-wrap: wrap;
}

.iconoig {
  width: 100px;
  height: 50px;
}

.iconofb {
  width: 100px;
  height: 50px;
}

.contenedordatoscontacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  margin-left: 50px;
  width: 500px;
  flex-wrap: wrap;
}

.contenedorwsp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 95px;
}

.contenedorgmail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.iconogmail, .iconowsp {
  height: 50px;
}

/*# sourceMappingURL=style1.css.map */
