/* Footer */

footer{

    background-color: rgb(35, 141, 71);
    width: auto;
    
}


.etiquetacontenedor{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% !important;
    font-family: 'Poppins', sans-serif !important;
    margin-top: 50px;
    flex-wrap: wrap;
    
    
    
}


.etiquetasredes{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.etiquetasredes{

    display: flex;
    flex-direction: row;
    width: 50%;
}




.redesycontactocontenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    flex-wrap: wrap;

    
    


}

.redescontenedor{

    display: flex;
    flex-direction: row;
    width: 500px;
    margin-left: 5px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;


}


.contactocontenedor{

    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-evenly;
    margin-right: 100px;
    height: 250px;
    flex-wrap: wrap;



}




.iconoig{

    width: 100px;
    height: 50px;


}

.iconofb {

    width: 100px;
    height: 50px;

}

.contenedordatoscontacto{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    width: 500px;
    flex-wrap: wrap;

    
   
}



.contenedorwsp{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 95px;


}


.contenedorgmail{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.iconogmail, .iconowsp{
 height: 50px;

}