
@import "../base/variables";

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

/* 1er anidamiento*/

div{
    .aviso24{  display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: $font-formulario;
        height: 100px;
        flex-wrap: wrap;



    }

}

/* FIN 1er anidamiento*/

/* 2do anidamiento*/

div{

    form{

        .camposform{  height: 20px;
            width: 200px;
            margin-left: 50px;
            margin-bottom: 10px;

        }

        .avisofotos{  display: flex;
            flex-direction: row;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-family: 'Poppins', sans-serif;
            height: 100px;
            margin-left: 50px;
            margin-bottom: 130px;
     
        }



    }
}

/* FIN 2do anidamiento*/













